<div class="alert alert-danger" role="alert">
If you have not yet worked with Jupyter notebooks:

[Watch this video](https://youtu.be/cFEE7BmXjwY)

# Inhalt

* [Python basics](#chapter1)
    * [What is Python?](#section_1_1)
    * [How do I use a Jupyter notebook?](#section_1_1_5)
    * [How do I program in Python?](#section_1_2)   
        * [Variables](#section_1_2_1)
        * [Lists](#section_1_2_2)
        * [Tuples](#section_1_2_3)
        * [Range](#section_1_2_4)
        * [Dictionaries](#section_1_2_5)
        * [Query data types](#section_1_2_6)
* [Link collection](#chapter2)

# Basics Python <a class="anchor" id="chapter1"></a>

##ðŸ“– What is Python? <a class="anchor" id="section_1_1"></a>
Python is an interpreted, high-level, open-source programming language.

But what does that mean?

At first, PCs and people can hardly or not understand each other at all. PCs use machine language, which is usually represented as binary code or hexadecimal numbers. However, letters or even whole words are foreign to machine language. This means that we cannot communicate with the PC using our own words.
<br>
High-level programming languages are programming languages that are easy for humans to understand as they allow the use of letters and therefore words. Contrary to what their name suggests, high-level programming languages are far removed from machine language in terms of abstraction and complexity and are intended to make programming easier for us.
Other examples of high-level programming languages are Java, C++, C#, PHP etc.
<br>
(In terms of complexity and abstraction, assembly language, which is a machine-oriented programming language, is positioned between machine language and high-level programming languages.)

The code that we write in a high-level programming language must somehow be translated into machine language for the PC. There are two ways of doing this:
- compiled programming languages:
        Translate the entire code into a compiled file that can be executed by the PC
- interpreted programming languages:
        The code is translated and executed line by line during program runtime

Both approaches have advantages and disadvantages, which we will not go into further here.

ðŸ’¡Further explanations are given [here](https://www.youtube.com/watch?v=fszpyKV62kI)

## ðŸ“–How do I use a Jupyter notebook? <a class="anchor" id="section_1_1_5"></a>
Both text and code blocks can be inserted in a Jupyter notebook. In a text block/markdown (like this one), explanations, mathematical formulas or images can be inserted to better explain the code.
<br>
In general, both Markdown and code blocks can be executed by clicking on their cell and then clicking on the Run button.
<br>
So if a Markdown cell appears as an unformatted text (e.g. because you have accidentally double-clicked on it) you can simply execute it again by clicking on Run (as long as it is currently activated).

Code blocks must also be executed so that your written code runs through. You can also simply click on the cell and then click on Run. The keyboard shortcut Shift+Enter does the same thing ;)


f you want to access code/variables from an earlier cell in a later cell, the earlier cell must be executed first. Because:
<br>
As long as a cell is not executed, Python does not know its content!


## How do I program in Python? <a class="anchor" id="section_1_2"></a>

How do I have Python output a value or a text?

In [1]:
print("Hello world")
print(5)

Hello world
5

<div class="alert alert-info">
    
### Variables <a class="anchor" id="section_1_2_1"></a>
"You can think of a variable as a kind of data container in which you can store a value. Each variable requires a so-called identifier. The identifier is nothing other than the name of a variable, which we can then use to address it in the program." [Link](https://programmieren-starten.de/blog/python-variablen/)


Variable names must not begin with a number.


Conventions for variables:
- Lower case word or single letter
- Spaces between two words of a variable are represented by a '_' (e.g. my_variable)

It does not matter what data type is assigned to a variable. It can be a number, a word, an entire text, a list, etc. (more on this later).

It is important that words/texts are in quotation marks ('' or "") and numbers without quotation marks (if you also want to calculate with them). The comma in decimal numbers is shown as a period (.), as in English.

[If you would like to see a short video explaining the topic of 'variables', click here](https://youtu.be/qM_6O-17ApU)

In [ ]:
my_variable = 'My first Variable'

<div class="alert alert-info">

When you executed the cell, you probably noticed that apparently not much happened. However, the variable was saved internally when the cell was executed. If the cell containing the variable was executed, we can pick it up again at any later point in time and output it.
</div>

In [ ]:
print(my_variable)

My first Variable

<div class="alert alert-info">
Variables can also stand for numbers:
</div>

In [ ]:
my_number = 42
print(my_number)

42

<div class="alert alert-info">
For example, you can also calculate with variables as long as a number has been assigned to each variable
</div>

In [ ]:
number_1 = 13
number_2 = 24
result = number_1 + number_2
print(result)

37

<div class="alert alert-success">

### Lists <a class="anchor" id="section_1_2_2"></a>
A list is a sequence of data or object types. You could also see a list as a kind of container in which we can line up or store all kinds of information.

A list is defined by using square brackets '[ ]'.
<br>
We list the information within the brackets and separate it with commas.
    
[If you would like to see a short video explaining the topic of 'lists', click here](https://youtu.be/-Q1zViP4RbM)
</div>

In [ ]:
number_list = [1, 2, 3, 4, 5]
print(number_list)

[1, 2, 3, 4, 5]

<div class="alert alert-success">
We can also store text (also called 'string') there
</div>

In [ ]:
string_list  = ['a', 'b', 'c', 'd']
print(string_list)

['a', 'b', 'c', 'd']

<div class="alert alert-success">
We can also combine different data types within a list and even create a list within a list
</div>

In [ ]:
mixed_list = [1, 2, 3, [5,6,7], 'a', 'b', 'c', ]
print(mixed_list)

[1, 2, 3, [5, 6, 7], 'a', 'b', 'c']

<div class="alert alert-success">

#### Add values to a list
Entries can also be added to a list at a later date.
<br>
This can be done with the '.append()' function, for example.
<br>
The '.append' is preceded by the variable name of the list to which we want to add something. The information to be added follows in brackets.
<br>
It does not matter whether the previous list is empty or already contains entries.
</div>

In [ ]:
my_list = ['Geomorphology', 'Biogeography', 'Pedology']
my_list.append('Geomatics')
print(my_list)

['Geomorphology', 'Biogeography', 'Pedology', 'Geomatics']

<div class="alert alert-success">
If we want to add several elements to the list at once, we can also use the .extend() function. However, the elements to be added must themselves be in a list (so you need '[ ]').

In [ ]:
my_list.extend(['Human geography', 'Economic geography'])
print(my_list)

['Geomorphology', 'Biogeography', 'Pedology', 'Geomatics', 'Human geography', 'Economic geography']

<div class="alert alert-success">

#### Query values from a list & list slicing
We can also filter entries based on the index of entries or delete content.
<br>
The index describes the position of an entry in a list.
<br>
It is important to know that the index of the entries starts at 0. This means that the very first entry in a list has index 0, the second entry has index 1 and so on.
<br>
This means that the first entry in a list can be selected as follows:
</div>

In [ ]:
first_entry = my_list[0]
print(first_entry)

Geomorphology

<div class="alert alert-success">
The second entry would then be queried as follows:
</div>

In [ ]:
print(my_list[1])

Biogeography

<div class="alert alert-success">
We can also query multiple entries from or up to a specific index.
<br>
For queries up to a certain index, a ':' is placed in front of the index.
<br>
The index mentioned is exclusive.
</div>

In [ ]:
first_entries = my_list[:2]
print(first_entries)

['Geomorphology', 'Biogeography']

<div class="alert alert-success">
Entries above a certain index are queried for the index with the help of a ':'.
<br>
The specified index is included.
</div>

In [ ]:
last_entries = my_list[2:]
print(last_entries)

['Pedology', 'Geomatics', 'Human geography', 'Economic geography']

<div class="alert alert-success">
Selecting values between two indices (the first index is inclusive, the second exclusive):
</div>

In [ ]:
selection = my_list[1:3]
print(selection)

['Biogeography', 'Pedology']

<div class="alert alert-success">
The length of a list is often unknown, but the last value is required.
<br>
To query the last value of a list, the index '-1' can be queried
</div>

In [ ]:
last_entry = my_list[-1]
print(last_entry)

Economic geography

<div class="alert alert-success">
As already mentioned, lists can also be nested. A list can therefore be contained in a list. Any number of lists can be nested within one another.
<br>
In the course, we will have to retrieve certain information from nested sequences.

In [ ]:
nested_list = [
    [1,2,3], #The first list in our list (with the index 0)
    [4,5,6], #The second list in our list (with the index 1)
    [7,8,9]  #The third list in our list (with the index 2)
]

#Let us grab the second list from our overall list. Remember that we can call the second entry by its index.
second_entry = nested_list[1]
print('The content of index 1 is: ', second_entry)

#Now we want to grab the third element of the nested list:
third_element = second_entry[2]
print('The third element of the selected list is: ', third_element)

The content of index 1 is:  [4, 5, 6]
The third element of the selected list is:  6

<div class="alert alert-success">
However, we can also make this query directly in one line of code
<br>    The syntax can then look like this:
<br>    nested_list [Index of the first level] [Index of the second level]

In [ ]:
selected_element = nested_list[1][2]
print(selected_element)

6

<div class="alert alert-success">
    
Further information and examples on list slicing can be found, for example [here](https://www.programiz.com/python-programming/examples/list-slicing)
</div>

<div class="alert alert-warning">

### Tuples <a class="anchor" id="section_1_2_3"></a>
Tuples are very similar to lists. They also store a collection of information, but you cannot change a tuple afterwards.
<br>
You can therefore neither add nor delete information.
<br>
Tuples are created by lining up information within '( )'
    </div>

In [ ]:
my_tuple = ('Geomorphology', 'Biogeography', 'Pedology', 'Geomatics')
print(my_tuple)

('Geomorphology', 'Biogeography', 'Pedology', 'Geomatics')

<div class="alert alert-warning">
If we try to add a value to a tuple or delete a value, we receive an error message
    </div>

In [ ]:
my_tuple.append('Maths')

AttributeError: 'tuple' object has no attribute 'append'

<div class="alert alert-warning">
Querying (or slicing) values works in the same way as with lists
    </div>

In [ ]:
print(my_tuple[0])
print(my_tuple[-1])
print(my_tuple[:2])

Geomorphology
Geomatics
('Geomorphology', 'Biogeography')

<div class="alert alert-danger" role="alert">

### Range <a class="anchor" id="section_1_2_4"></a>
The range function in Python creates a sequence of numbers
    
    
Syntax: range(start, stop, step)
<br>- start inclusive
<br>- stop exclusive
<br>
We can use the range function, for example, to define the number of repetitions that are carried out when executing a process.

In [ ]:
my_range = range(0, 5, 1)
print(my_range)

range(0, 5)

<div class="alert alert-danger" role="alert">
If you only need a sequence that starts at zero and goes with a 'step' from 1 to a certain number, you can also simply enter the number to be reached as a single parameter.

In [ ]:
my_range = range(5)
print(my_range)

range(0, 5)

<div class="alert alert-info">

### Dictionaries <a class="anchor" id="section_1_2_5"></a>
Dictionaries offer the possibility of storing several pieces of information within a variable and storing them with a keyword.
<br>
You can search for this keyword to obtain the stored information.
<br>
A dictionary therefore works in exactly the same way as a dictionary, in which you search for a word to obtain a translation or a definition, for example.
<br>
In a Python dictionary, however, the information stored for a keyword can represent any data type.
<br>
Individual words, whole sentences, numbers, lists, tuples or even another dictionary can be placed behind a keyword.


A dictionary is created with '{ }'. An entry in a dictionary consists of the key and an associated value. The key and its value are separated by a ':'.
<br>
If several entries are stored in a dictionary, they are separated by commas.
    </div>

In [ ]:
my_dict = {
    'France': 'Paris',
    'Belgium': 'Brussels',
    'Germany': 'Berlin',
    'Denmark': 'Copenhagen'
}

<div class="alert alert-info">
To obtain a value based on a key, we query the key in the dictionary:

In [ ]:
print(my_dict['Belgium'])

Brussels

<div class="alert alert-info">
To add an entry, we inform the dictionary of the new key and the corresponding value:

In [ ]:
my_dict['Austria'] = 'Vienna'
print(my_dict)

{'France': 'Paris', 'Belgium': 'Brussels', 'Germany': 'Berlin', 'Denmark': 'Copenhagen', 'Austria': 'Vienna'}

<div class="alert alert-info">
Dictionaries can also contain any other data type as values:

In [ ]:
new_dict = {
    'Name': 'Max', #Strings
    'Age': 23, #Numbers
    'Hobbies': ['Swimming', 'Travel to Sylt with the â‚¬9 ticket', 'Dancing'], #Lists
    'Education': {
        'Academic': 'B.Sc.',
        'Professional': 'Commercial employee'
    } #A dictionary within the dictionary
}

<div class="alert alert-info">
As the complexity of the dictionary increases, so does the difficulty of querying a value.
For example, if we want to query the first hobby mentioned, we have to take several steps to retrieve the information.
    <br>
    Let's first select the entry for the hobbies:

In [ ]:
hobbies = new_dict['Hobbies']
print(hobbies)

['Swimming', 'Travel to Sylt with the â‚¬9 ticket', 'Dancing']

<div class="alert alert-info">
    We can now see that this is obviously a list.
    <br>
    If we remember how we perform queries in lists, we can now select the first entry from the list

In [ ]:
first_hobby = hobbies[0]
print(first_hobby)

Swimming

<div class="alert alert-info">
To shorten this selection process, we can also link the steps directly together:

In [ ]:
fast_selection = new_dict['Hobbies'][0]
print(fast_selection)

Swimming

<div class="alert alert-info">

Further information and examples of dictionaries can be found [here](https://www.w3schools.com/python/python_dictionaries.asp)

<div class="alert alert-success" role="alert">

### Query data types <a class="anchor" id="section_1_2_6"></a>
In programming, it is important to know which data type a variable has.
We have learned about several data types so far. The most important data types are:
  **Text**: _str_ (String)
 - **Numbers**: _int_ (integers), _float_ (decimals), _complex_ (complex numbers with a real and imaginary part)
 - **Sequences**: _list_, _tuple_, _range_
 - **Dictionaries**: _dict_
 - **Boolean**: _bool_

As we cannot use every command for every data type, it is important to know which data types you are working with.   <br>
To find out the data type of a variable, you can use the type() function to display the type.
</div>

In [ ]:
string = 'This is a String'
print(type(string))

integer = 5
print(type(integer))

floating = 5.2
print(type(floating))

lists = [2, 3, 4, 5]
print(type(lists))

tuples = (2, 3, 4, 5)
print(type(tuples))

ranges = range(3, 10, 1)
print(type(ranges))

dictionary = {'France': 'Paris', 'Belgium': 'Brussels', 'Germany': 'Berlin'}
print(type(dictionary))

boolean = True #Could also be False
print(type(boolean))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'bool'>

<div class="alert alert-success" role="alert">

Further information can be found [here](https://www.w3schools.com/python/python_datatypes.asp)

# Link collection <a class="anchor" id="chapter2"></a>

1. Youtube videos for getting started with Python [link1](https://www.youtube.com/watch?v=362fjQdpFlc), [link2](https://www.youtube.com/watch?v=kqtD5dpn9C8)
2. List Slicing [link](https://www.programiz.com/python-programming/examples/list-slicing)
3. Dictionaries [link](https://www.w3schools.com/python/python_dictionaries.asp)