### ✏️Task 5
Create a function that subtracts an individually definable value from the data series provided. It should be possible to pass the following parameters to the function:
1. list as data input
2. value to be subtracted

Your function should be able to print the newly calculated value.
Test your function by subtracting the value 8.4.

In [ ]:
values = [19.5, 18.0, 23.0, 26.5, 25.0, 19.5, 21.5, 20.0, 22.0, 23.5]

In [ ]:
#Your code

***
### ✏️Task 6
Write a function that is able to convert between the units meters and feet. It should be possible to enter lists into the function and convert them into the other unit.
<br>
Find a way to round the conversion results.

In [ ]:
meter = [2222, 1594, 256, 1855, 2087, 6, 1611, 171, 842, 699, 957, 729, 214, 2133, 2083, 1602, 1136, 2052, 446, 1921, 2264, 46, 1697, 137, 1514]
feet = [7290.0, 5229.7, 839.9, 6086.0, 6847.1, 19.7, 5285.4, 561.0, 2762.5, 2293.3, 3139.8, 2391.7, 702.1, 6998.0, 6834.0, 5255.9, 3727.0, 6732.3, 1463.3, 6302.5, 7427.8, 150.9, 5567.6, 449.5, 4967.2]

In [ ]:
#Your code