### 📖Content
* [Change data type](#Chapter1)
* [f-strings](#Chapter2)
* [For loops](#Chapter3)
* [Conditions](#Chapter4)
* [For loops + conditions](#Chapter5)
* [Functions](#Chapter6)
* [Combining what you have learned](#Chapter7)

<div class="alert alert-info">

### 📖Change data type <a class="anchor" id="chapter1"></a>
As described in the last notebook, there are various data types (str, int, float etc.). The type can be adjusted between some data types. This is necessary, for example, if user input is entered in an 'incorrect' format.
<br>
Here is an example:
<br>
The following cell contains a small program that calculates the year of birth based on the age provided by the user.
<br>
Execute the following cell. An input field will appear in which you can enter your age. Confirm your entry by pressing 'Enter'.
<br>
The input field is created by 'input()'. It is important that you understand that the user input is stored in the variable 'user_input'. This variable can therefore be used later to access the entered value.

In [ ]:
print('Please set your age:')
user_input = input() #creates a field for user-input

year_of_birth  = 2022 - user_input #subtracts the provided age from the year 2022
print('You were born in: ', year_of_birth)

<div class="alert alert-info">
    
You receive an error message that no calculations can be made between the data types int (the year 2022) and str (the user input).
<br>
The problem is that the input field only returns text (i.e. strings) to the script. Although we write a number in the field, Python understands it as text.
<br>
So we have to convert the text (which contains our age) into the data type *int*.
<br>
To convert *str* to *int*:
- int(my_text)

For converting *str* or an *int* into a *float*:
- float(my_text_or_int)

For converting an *int* or a *float* into a *str*
- str(my_int_or_float)
<br>

Converting *float* to *int* with the above command (int(my_float)) is not recommended, as this function is not able to round correctly. There are better methods that we will not discuss here (but Google knows everything ;) )
    
We will now incorporate the knowledge we have just acquired into our little program.
<br>
We use the function int(my_string) to create an *int* from the string specified by the user. We can then use this to perform calculations.

In [ ]:
print('Please set your age:')
user_input = input() #creates a field for user-input

year_of_birth  = 2022 - int(user_input) #turn the input string to an int and subtract from year
print('You were born in: ', year_of_birth)

<div class="alert alert-info">
The conversion from one data type to another also works with the other functions mentioned.
<br> In the last notebook, you learned how to query the data type to ensure that the data type adjustment was successful.

In [ ]:
turned_to_str = str(10)
print(turned_to_str)
turned_to_float = float('7.8')
print(turned_to_float)

In [ ]:
#Turn this number into a string and print its datatype:
a = 18.4

<div class="alert alert-success">   
    
### 📖f-strings <a class="anchor" id="chapter2"></a>

For the naming of files or for meaningful print statements, it is often necessary for different data types to be written together in one text.
<br>The problem was explained above.
<br>There are many ways to solve this 'problem'.
<br>While we can simply string strings together with a '+', this does not work with different data types

In [ ]:
a = 'Hello ' #The space at the end is needed to have a space between the words after putting them together
b = 'World'
c = a+b
print(c)

In [ ]:
a = 'We have the year '
b = 2022
c = a + b
print(c)
#This will throw an error

<div class="alert alert-success">
In principle, we can use the knowledge we have learned above to turn the number into a string:

In [ ]:
a = 'We have the year '
b = 2022
c = a + str(b)
print(c)

<div class="alert alert-success">
In principle, it would be possible to combine strings and integers in a print using a comma

In [ ]:
a = 'We have the year '
b = 2022
print(a, b)

We have the year  2022

<div class="alert alert-success">
    
A much more efficient way to create a string containing numbers is to use **f-strings**.
<br>
We simply write an 'f' in front of the quotation marks of the string and set all variables with a different data type to '{ }':

In [ ]:
population = 364628
area = 145.4
my_f_string = f"Living in Bochum {population} Inhabitants on an area of {area} km²"
print(my_f_string)

<div class="alert alert-warning">
    
### 📖For Loops <a class="anchor" id="chapter3"></a>
Loops are an important part of programming. The For Loop is probably the most important loop and is used for most applications. Other loop types are the While Loop and the Nested Loop (not covered here).
<br>
A typical For Loop is structured as follows:

- **for** i **in** object:
    - *Code that should be executed in every loop*
  
    
The **for** in the **in** are fixed expressions. The *i* represents the element that is drawn from the *object* in each repetition. The *i* therefore has a new value each time it is run. The letter *i* is chosen more or less arbitrarily in this case. You could also use any other letter. The *object* is the object to be 'iterated over'. It can be strings, lists or ranges.

[If you would like to see a short video explaining the topic of 'For Loops', click here](https://youtu.be/zqqd_pJpZO4)

</div>

In [ ]:
for i in 'RUB':
    print(i)

In [ ]:
my_list = ['Geomorphology', 'Biogeography', 'Pedology', 'Geomatics']

for i in my_list:
    print(i)

<div class="alert alert-warning">
Calculations can also be made within the loops

In [ ]:
ages = [19, 23, 28, 31, 24, 38]
for i in ages:
    year_of_birth = 2022 - i #Do some calculation
    print(f"Born in {year_of_birth}") #Use a f-string to print the result

<div class="alert alert-danger" role="alert">

### 📖Conditions <a class="anchor" id="chapter4"></a>
Checking conditions is an elementary part of programming. It is often necessary that a certain code is only executed if a condition applies or does not apply.
<br>
In Python, conditions are checked with **if** statements.
Here are a few examples of which conditions can be set:
1. Equals: a == b
2. Not Equals: a != b
3. Less than: a < b
4. Less than or equal to: a <= b
5. Greater than: a > b
6. Greater than or equal to: a >= b
    
Such a query only ever returns a **True** or **False** internally, depending on whether the condition is fulfilled or not. If a **True** is returned, the following code is executed in an if condition.
    
First, let's see that a simple condition (without if) only returns True or False:


[If you would like to see a short video explaining the topic of 'Conditions', click here](https://youtu.be/8ypf4bdHJzs)

In [ ]:
a = 5
a>1

<div class="alert alert-danger" role="alert">
Here is a simple example of how we combine a query with an if condition so that code is only executed if the condition is met. Change the numbers behind the variables to see what happens when the proportions are reversed. Also test other operators/conditions.

In [ ]:
a = 42
b = 32

if a > b:
    print("a is greater than b") #This code will only be executed if the condition is True

<div class="alert alert-danger" role="alert">

This simple condition only covers one case. This means that something only happens if the condition is fulfilled. If you want code to be executed even if the first condition is not fulfilled, you can use **else**. The code behind the **else** is always executed if the condition is not fulfilled.

In [ ]:
a = 42
b = 32

if a > b:
    print("a is greater than b")
else:
    print("a is not greater than b")

a is greater than b

<div class="alert alert-danger" role="alert">

The **else** allows code to be executed if the upper condition is not met, but other conditions cannot be checked. For example, it is currently possible to check whether one number is greater than the other, but it is not possible to differentiate whether the numbers are the same size.
<br>
An **elif** makes it possible to specify a further condition if the first/previous condition is not fulfilled.

In [ ]:
a = 42
b = 42

if a > b:
    print("a is greater than b")
elif a == b:
    print("a is equal to b")
else:
    print("a is not greater than b")

<div class="alert alert-danger" role="alert">
    
Since if conditions primarily query whether a condition is true, we can also enter **Bools** (i.e. True/False) directly in a condition

In [ ]:
x = True

if x == True:
    print("Some Code is executed because x is True")
else:
    print("Some other code is executed because x is False")

<div class="alert alert-danger" role="alert">
We can also write this code a little more compactly if we want to check a bool. It is then sufficient to name the bool directly after the if.

In [ ]:
x = True

if x:
    print("Some Code is executed because x is True")
else:
    print("Some other code is executed because x is False")

<div class="alert alert-info">

### 📖For Loops + Conditions <a class="anchor" id="chapter5"></a>
Very often **For Loops** are linked to **Conditions**. For example, you can 'iterate' over values in a data set and trigger different processes, depending on what value is currently being queried.
<br>
Let's assume that we have a data series with night-time temperatures. We are interested in how many tropical nights there are in the data series.
<br>
To do this, we will loop through the entries in the list. If the value is >=20 we will increment a counter by 1. The counter will show us at the end of the short script how many tropical nights there were.
<br>
(The data is fictitious)
    
[If you would like to see the topic 'For Loops + Conditions' explained in a short video, click here](https://youtu.be/8LGB_MX-ckg)

In [ ]:
temps = [17.5, 18.0, 20.0, 24.5, 21.0, 18.5, 19.5, 16.0, 21.0, 21.5, 22.5, 20.0, 18.0, 20.5, 21.5, 19.5, 17.0]

tropical_nights = 0 #The counter is on 0 before the loop starts

for i in temps:
    if i >= 20:
        tropical_nights+=1 #if there is a value >= 20 the variable tropical_nights is raised by 1

print(f"There were {tropical_nights} tropical nights")

<div class="alert alert-success" role="alert">

### 📖Functions <a class="anchor" id="chapter6"></a>
Functions may look complicated at first glance, but they are actually very simple. Functions are a sequence of calculations/processing/processes which can be called up again and again under different input variables without having to rewrite the entire code each time.


A function must first be defined so that Python knows that it is a function that will be called again later. We define a function with a **def** , followed by the name of the function. This is followed by brackets (), into which parameters are written. These parameters are like placeholders for variables that you want to add to the function later.

- *def*  my_function_name (my_optional_parameter1, my_optional_parameter2):
    - my code that should be executet when I call the function

A function itself is not executed until it is called. It is called by specifying its name (and the parameters to be passed) at a point in the script.
    <br>
As this explanation may still seem complicated, it is best to learn how to use functions using examples.
<br>
In the first example, our function should simply add the value 5 to each number that is entered into the function. The function will initially only be able to print the result.

[If you would like to see a short video explaining the topic of 'Functions', click here](https://youtu.be/G7xEIEMBpPY)

In [ ]:
def add_5 (value): #We will use the parameter 'value' within the function to do some calculations. The parameter itself will be replaced with an actual variable when we call the function
    print(value + 5)

#lets call the function. We do this by just calling the name and provide information for the parameter
add_5(13)

#We can call it as many times as we want
add_5(100)
add_5(-513)

#We can also put in a variable that stores the number
a = 5561
add_5(a)

<div class="alert alert-success" role="alert">
    
So we see that a function is able to execute a certain code under changing input data.
<br>
Of course, this is only possible if the data types are correct. As we have already learned, we could not enter a string as a parameter in the calculation in this function, as you cannot calculate words with numbers.
<br>
So far, our function is only able to print the result. However, we are currently unable to perform any further calculations with the result from the function.
<br>
We use a **return** so that the function returns a value.
<br>
This allows us to use the value/object behind the return later.

The following function is intended to calculate the percentage of the total area of Germany covered by different land covers.
<br>
The shares should then be added together:
    <br>
[Data source](https://www.umweltbundesamt.de/daten/flaeche-boden-land-oekosysteme/flaeche/struktur-der-flaechennutzung#die-wichtigsten-flachennutzungen)

In [ ]:
def calc_percentage (area_sqkm):
    area_germany = 357581
    percentage = area_sqkm / area_germany *100
    return percentage

#calculating the percentage of agricultural land and forests based on their area in km²

agriculture = calc_percentage(180936) #The variable agriculture will store the result of the function as we used a 'return'
forests = calc_percentage(106559)

total = agriculture + forests #Sum up the values

print(f"In Germany {total}% of the land is covered by agriculture ({agriculture}%) and forests ({forests}%) ")

<div class="alert alert-success" role="alert">
    
At the moment, our function can only calculate area shares in Germany, as the area of Germany is anchored within the function. However, we can also define several parameters in the function and thus create more flexibility.

In [ ]:
def calc_percentage (share_sqkm, total_sqkm):
    percentage = share_sqkm / total_sqkm *100
    return percentage

germany = 357581
agriculture = 180936

print(calc_percentage(agriculture, germany))

<div class="alert alert-warning">

### 📖Combining what you have learned <a class="anchor" id="chapter7"></a>
We now want to combine the different methods to create a script that is able to convert units of a temperature measurement between Celsius and Fahrenheit.
<br>
A function is to be written which has the following parameters:
1. a list of temperature measurements
2. a string with the information whether the data is 'Celsius' or 'Fahrenheit'

<br>
The script should then convert to the other unit and save the data in the new list. The new list is returned directly by the function.
    
[If you would like to see a short video explaining how to combine functions, conditions and loops, click here](https://youtu.be/TwiMpsjXPSw)

In [ ]:
#Here are two lists with which we can test our function later
temp_c = [17.5, 18.0, 20.0, 24.5, 21.0, 18.5, 19.5, 16.0, 21.0, 21.5, 22.5, 20.0, 18.0, 20.5, 21.5, 19.5, 17.0]
temp_f = [63.5, 64.4, 68.0, 76.1, 69.8, 65.3, 67.1, 60.8, 69.8, 70.7, 72.5, 68.0, 64.4, 68.9, 70.7, 67.1, 62.6]

In [ ]:
#Let us set up a function that can do the job

def temp_converter (input_list, input_unit):
    empty_output_list = []

    if input_unit == 'Celsius':
        for i in input_list:
            converted = i * 1.8 + 32
            empty_output_list.append(converted)

    elif input_unit == 'Fahrenheit':
        for i in input_list:
            converted = (i - 32) * 5/9
            empty_output_list.append(converted)
    else:
        print("Please specify whether your Data is in Celsius or Fahrenheit")
    return empty_output_list

In [ ]:
#Let us test our function

converted = temp_converter(temp_c, 'Celsius')

print(converted)

### 🧠 This section contains tasks that can be solved with the knowledge from the current notebook.

### ✏️Task 1
The thermometer of a measuring station has a systematic error of +4.20 °C due to a technical defect.  
This should now be removed from all values in the measurement series for evaluation.
<br>
Use a **for loop** to subtract the measurement error from the values and save the corrected results in a new table.

In [ ]:
temps = [19.5, 18.0, 23.0, 26.5, 25.0, 19.5, 21.5, 20.0, 22.0, 23.5, 25.5, 24.0, 22.0, 21.5, 23.5, 21.5, 19.0]

In [ ]:
#Your code

***
### ✏️Task 2
The following list shows the minimum, maximum and average temperature (in this order) for each measurement time.
<br>
A new list is to be created in which only the average temperature is available.

In [ ]:
temps = [[16.4, 23.4, 19.9], [17.1, 23.0, 20.1], [21.7, 24.8, 23.2], [18.1, 26.5, 22.3], [16.3, 22.8, 19.6], [14.5, 19.8, 17.1], [18.8, 24.4, 21.6], [17.7, 23.4, 20.5], [16.8, 27.0, 21.9], [19.4, 20.6, 20.0]]

In [ ]:
# Your code

***
### ✏️Task 3
The prepared list contains the daily 7-day corona incidence between 12.06.2022 and 11.08.2022.
<br>
A **for loop** is to be used to determine the number of days in which the incidences were above and below 500.
<br>
To do this, create two 'counters' that specify the respective number of days and print the results with a meaningful f-string.
<br>
[Quelle RKI](https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Daten/Klinische_Aspekte.html)

In [ ]:
inzidence = [461.0, 473.6, 565.4, 604.3, 607.3, 547.1, 555.2, 566.9, 569.8, 602.4, 645.1, 696.7, 802.4, 835.4, 845.9, 845.5, 848.5, 853.9, 852.9, 847.5, 847.5, 834.5, 834.9, 811.3, 788.3, 771.9, 751.7, 727.0, 723.8, 718.7, 722.6, 716.7, 707.9, 700.8, 699.9, 693.3, 691.7, 681.4, 659.9, 630.7, 611.7, 593.3, 592.2, 592.9, 576.2, 563.8, 548.1, 528.0, 509.7, 501.7, 497.8, 488.7, 476.9, 465.3, 463.2, 454.5, 453.7, 450.2, 440.6, 423.0, 394.1]

In [ ]:
#Your code

***
### ✏️Task 4
Given is a list with the Latin names of tree species from a tree inventory.
<br>
1. Create a new list in which each tree species is listed only once in order to determine the number of different tree species (Not all of the methods required for this have been taught in the accompanying notebook. However, as in real life, you can find all the answers on the Internet. First try to find an approach on your own, otherwise here are two links that will help you: [Add to list if not already in list](https://stackoverflow.com/questions/42334197/add-only-unique-values-to-a-list-in-python), [Get length of list](https://www.edureka.co/blog/python-list-length/))
2. Create a **for loop** (based on your list from subtask 1) which gives the tree species as print output and how often it was found during the inventory (Again, the internet will help you to use a more efficient method than the 'counter' you have learned so far. If you cannot find an approach, have a look at [here](https://www.codegrepper.com/code-examples/python/python+count+number+of+elements+in+list+equal+to))

In [ ]:
trees = ['Fagus sylvatica', 'Quercus robur', 'Fagus sylvatica', 'Larix decidua', 'Quercus robur', 'Quercus robur', 'Aesculus hippocastanum', 'Larix decidua', 'Larix decidua', 'Picea abies', 'Fagus sylvatica', 'Betula pendula', 'Larix decidua', 'Betula pendula', 'Fagus sylvatica', 'Betula pendula', 'Picea abies', 'Aesculus hippocastanum', 'Fagus sylvatica', 'Quercus robur', 'Larix decidua', 'Fagus sylvatica', 'Betula pendula', 'Fagus sylvatica', 'Picea abies', 'Quercus robur', 'Larix decidua', 'Betula pendula', 'Betula pendula', 'Fagus sylvatica', 'Aesculus hippocastanum', 'Larix decidua', 'Picea abies', 'Betula pendula', 'Fagus sylvatica', 'Fagus sylvatica', 'Betula pendula', 'Aesculus hippocastanum', 'Quercus robur', 'Quercus robur', 'Quercus robur', 'Fagus sylvatica', 'Aesculus hippocastanum', 'Picea abies', 'Larix decidua', 'Picea abies', 'Larix decidua', 'Aesculus hippocastanum', 'Picea abies', 'Picea abies']

In [ ]:
# Your code

***
### ✏️Task 5
Create a function that subtracts an individually definable value from the data series provided. It should be possible to pass the following parameters to the function:
1. list as data input
2. value to be subtracted

Your function should be able to print the newly calculated value.
Test your function by subtracting the value 8.4.

In [ ]:
values = [19.5, 18.0, 23.0, 26.5, 25.0, 19.5, 21.5, 20.0, 22.0, 23.5]

In [ ]:
#Your code

***
### ✏️Task 6
Write a function that is able to convert between the units meters and feet. It should be possible to enter lists into the function and convert them into the other unit.
<br>
Find a way to round the conversion results.

In [ ]:
meter = [2222, 1594, 256, 1855, 2087, 6, 1611, 171, 842, 699, 957, 729, 214, 2133, 2083, 1602, 1136, 2052, 446, 1921, 2264, 46, 1697, 137, 1514]
feet = [7290.0, 5229.7, 839.9, 6086.0, 6847.1, 19.7, 5285.4, 561.0, 2762.5, 2293.3, 3139.8, 2391.7, 702.1, 6998.0, 6834.0, 5255.9, 3727.0, 6732.3, 1463.3, 6302.5, 7427.8, 150.9, 5567.6, 449.5, 4967.2]

In [ ]:
#Your code

***
### ✏️Task 7
In some scientific data there are so-called 'NoData Values', i.e. values that are used for measurements for which there was no measurement result. Such NoData Values are often found in raster data that is opened in geoinformation systems (e.g. outlines of oblique satellite images).
<br>
In geoinformation systems, the NoData values can be set (e.g. to 0 or -999) so that the raster dataset is displayed correctly.
<br>
In Python, changing the NoData values is a little more difficult.
<br>
The following list is intended to mimic a raster data set which has a size of 3x3 pixels. Each of the lists in the list should represent a series of pixel values of a gray value image.
<br>
In reality, raster data in Python is not displayed directly as lists (we will come to that later). For now, however, let's assume that this is the case.
<br>
1. Create a function that can 'iterate' through the individual values and create a new list in which the previous NoData value 0 is set to -999. The structure of the list should be retained.

Note: Use print statements when developing the function to get information about the individual elements of the loop. Think about how you can access nested elements.

In [ ]:
raster = [
    [125, 54, 12],
    [0, 146, 211],
    [198, 137, 0],
]

In [ ]:
#Your code

***
***

### 📖For interested parties
Even if most of the data in the previous exercises and tasks are fictitious, the lists with their data have to be created somehow.
<br>
If you are interested in how we save ourselves some work and create the lists, take a look at the cells below.
<br>
Nevertheless, we have kept the code simple so that it is easy to understand.
<br>
There are much more efficient ways to create the data ;)

In [ ]:
#Create a nested list with min, max and mean temperatures

import random #This imports a package that can create random numbers

temps = [19.5, 18.0, 23.0, 22.0 , 21.0, 19.5, 21.5, 20.0, 22.0, 20.5] #We will use those values to do some calculations

new_temp = []

for i in temps:
    minimum = i - round(random.uniform(0, 6),1) #subtract a random float number between 0 and 6 from the current element and round it to the first digit
    maximum = i + round(random.uniform(0, 5),1)
    mean = round((minimum+maximum)/2, 1)
    new_temp.append([minimum, maximum, mean])
print(new_temp)

In [ ]:
#Create a List with specific length and randomly chosen tree species.

trees = ['Picea abies', 'Larix decidua', 'Betula pendula', 'Fagus sylvatica', 'Quercus robur', 'Aesculus hippocastanum']
new_list = []
for i in range (50):
    new_list.append(random.choice(trees))
print(new_list)

In [ ]:
#Create some random integers (values should be between 1 and 3000 and 25 random values should be created)
import numpy as np
meter = list(np.random.randint(1, 3000, 25))
print(meter)

### 💡This section contains solutions for given tasks that could be solved with the knowledge from the current notebook.

### ✏️Task 1
The thermometer of a measuring station has a systematic error of +4.20 °C due to a technical defect.  
This should now be removed from all values in the measurement series for evaluation.
<br>
Use a **for loop** to subtract the measurement error from the values and save the corrected results in a new table.

In [ ]:
temps = [19.5, 18.0, 23.0, 26.5, 25.0, 19.5, 21.5, 20.0, 22.0, 23.5, 25.5, 24.0, 22.0, 21.5, 23.5, 21.5, 19.0]

In [ ]:
#Your code
temps_corrected = []
for i in temps:
    temps_corrected.append(i-4.2)

print(temps_corrected)

[15.3, 13.8, 18.8, 22.3, 20.8, 15.3, 17.3, 15.8, 17.8, 19.3, 21.3, 19.8, 17.8, 17.3, 19.3, 17.3, 14.8]

***
### ✏️Task 2
The following list shows the minimum, maximum and average temperature (in this order) for each measurement time.
<br>
A new list is to be created in which only the average temperature is available.

In [ ]:
temps = [[16.4, 23.4, 19.9], [17.1, 23.0, 20.1], [21.7, 24.8, 23.2], [18.1, 26.5, 22.3], [16.3, 22.8, 19.6], [14.5, 19.8, 17.1], [18.8, 24.4, 21.6], [17.7, 23.4, 20.5], [16.8, 27.0, 21.9], [19.4, 20.6, 20.0]]

In [ ]:
# Your code
mean_temp = []

for i in temps:
    mean_temp.append(i[2])

print(mean_temp)

[19.9, 20.1, 23.2, 22.3, 19.6, 17.1, 21.6, 20.5, 21.9, 20.0]

***
### ✏️Task 3
The prepared list contains the daily 7-day corona incidence between 12.06.2022 and 11.08.2022.
<br>
A **for loop** is to be used to determine the number of days in which the incidences were above and below 500.
<br>
To do this, create two 'counters' that specify the respective number of days and print the results with a meaningful f-string.
<br>
[Quelle RKI](https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Daten/Klinische_Aspekte.html)

In [ ]:
inzidence = [461.0, 473.6, 565.4, 604.3, 607.3, 547.1, 555.2, 566.9, 569.8, 602.4, 645.1, 696.7, 802.4, 835.4, 845.9, 845.5, 848.5, 853.9, 852.9, 847.5, 847.5, 834.5, 834.9, 811.3, 788.3, 771.9, 751.7, 727.0, 723.8, 718.7, 722.6, 716.7, 707.9, 700.8, 699.9, 693.3, 691.7, 681.4, 659.9, 630.7, 611.7, 593.3, 592.2, 592.9, 576.2, 563.8, 548.1, 528.0, 509.7, 501.7, 497.8, 488.7, 476.9, 465.3, 463.2, 454.5, 453.7, 450.2, 440.6, 423.0, 394.1]

In [ ]:
#Your code
over_500 = 0
under_500 = 0

for i in inzidence:
    if i >= 500:
        over_500 += 1
    else:
        under_500 += 1

print(f"There were {over_500} days with an inzidence over or equal to 500 and {under_500} days with an inzidence below 500")

There were 48 days with an inzidence over or equal to 500 and 13 days with an inzidence below 500

***
### ✏️Task 4
Given is a list with the Latin names of tree species from a tree inventory.
<br>
1. Create a new list in which each tree species is listed only once in order to determine the number of different tree species (Not all of the methods required for this have been taught in the accompanying notebook. However, as in real life, you can find all the answers on the Internet. First try to find an approach on your own, otherwise here are two links that will help you: [Add to list if not already in list](https://stackoverflow.com/questions/42334197/add-only-unique-values-to-a-list-in-python), [Get length of list](https://www.edureka.co/blog/python-list-length/))
2. Create a **for loop** (based on your list from subtask 1) which gives the tree species as print output and how often it was found during the inventory (Again, the internet will help you to use a more efficient method than the 'counter' you have learned so far. If you cannot find an approach, have a look at [here](https://www.codegrepper.com/code-examples/python/python+count+number+of+elements+in+list+equal+to))

In [ ]:
trees = ['Fagus sylvatica', 'Quercus robur', 'Fagus sylvatica', 'Larix decidua', 'Quercus robur', 'Quercus robur', 'Aesculus hippocastanum', 'Larix decidua', 'Larix decidua', 'Picea abies', 'Fagus sylvatica', 'Betula pendula', 'Larix decidua', 'Betula pendula', 'Fagus sylvatica', 'Betula pendula', 'Picea abies', 'Aesculus hippocastanum', 'Fagus sylvatica', 'Quercus robur', 'Larix decidua', 'Fagus sylvatica', 'Betula pendula', 'Fagus sylvatica', 'Picea abies', 'Quercus robur', 'Larix decidua', 'Betula pendula', 'Betula pendula', 'Fagus sylvatica', 'Aesculus hippocastanum', 'Larix decidua', 'Picea abies', 'Betula pendula', 'Fagus sylvatica', 'Fagus sylvatica', 'Betula pendula', 'Aesculus hippocastanum', 'Quercus robur', 'Quercus robur', 'Quercus robur', 'Fagus sylvatica', 'Aesculus hippocastanum', 'Picea abies', 'Larix decidua', 'Picea abies', 'Larix decidua', 'Aesculus hippocastanum', 'Picea abies', 'Picea abies']

In [ ]:
# Your code
#Part 1
unique_trees = []

for i in trees:
    if i not in unique_trees:
        unique_trees.append(i)

print(f"There are {len(unique_trees)} different tree species")


#Part 2
for i in unique_trees:
      count = trees.count(i)
      print(f"{i}: {count}")

There are 6 different tree species
Fagus sylvatica: 11
Quercus robur: 8
Larix decidua: 9
Aesculus hippocastanum: 6
Picea abies: 8
Betula pendula: 8

***
### ✏️Task 5
Create a function that subtracts an individually definable value from the data series provided. It should be possible to pass the following parameters to the function:
1. list as data input
2. value to be subtracted

Your function should be able to print the newly calculated value.
Test your function by subtracting the value 8.4.

In [ ]:
values = [19.5, 18.0, 23.0, 26.5, 25.0, 19.5, 21.5, 20.0, 22.0, 23.5]

In [ ]:
def subtractor (input_list, input_value):
    for i in input_list:
        print(i-input_value)

subtractor(values, 8.4)

11.1
9.6
14.6
18.1
16.6
11.1
13.1
11.6
13.6
15.1

***
### ✏️Task 6
Write a function that is able to convert between the units meters and feet. It should be possible to enter lists into the function and convert them into the other unit.
<br>
Find a way to round the conversion results.

In [ ]:
meter = [2222, 1594, 256, 1855, 2087, 6, 1611, 171, 842, 699, 957, 729, 214, 2133, 2083, 1602, 1136, 2052, 446, 1921, 2264, 46, 1697, 137, 1514]
feet = [7290.0, 5229.7, 839.9, 6086.0, 6847.1, 19.7, 5285.4, 561.0, 2762.5, 2293.3, 3139.8, 2391.7, 702.1, 6998.0, 6834.0, 5255.9, 3727.0, 6732.3, 1463.3, 6302.5, 7427.8, 150.9, 5567.6, 449.5, 4967.2]

In [ ]:
def converter (in_list, current_unit):
    out_list = []

    if current_unit == 'meter':
        print("Converting Meters to Feet")
    elif current_unit == 'feet':
        print("Converting Feet to Meeters")

    for i in in_list:
        if current_unit == 'meter':
            out_list.append(round(i * 3.2808398950131, 1))
        if current_unit == 'feet':
            out_list.append(round(i / 3.2808398950131, 1))
    return out_list

converted = converter(meter, 'meter')
print(converted)

Converting Meters to Feet
[7290.0, 5229.7, 839.9, 6086.0, 6847.1, 19.7, 5285.4, 561.0, 2762.5, 2293.3, 3139.8, 2391.7, 702.1, 6998.0, 6834.0, 5255.9, 3727.0, 6732.3, 1463.3, 6302.5, 7427.8, 150.9, 5567.6, 449.5, 4967.2]

***
### ✏️Task 7
In some scientific data there are so-called 'NoData Values', i.e. values that are used for measurements for which there was no measurement result. Such NoData Values are often found in raster data that is opened in geoinformation systems (e.g. outlines of oblique satellite images).
<br>
In geoinformation systems, the NoData values can be set (e.g. to 0 or -999) so that the raster dataset is displayed correctly.
<br>
In Python, changing the NoData values is a little more difficult.
<br>
The following list is intended to mimic a raster data set which has a size of 3x3 pixels. Each of the lists in the list should represent a series of pixel values of a gray value image.
<br>
In reality, raster data in Python is not displayed directly as lists (we will come to that later). For now, however, let's assume that this is the case.
<br>
1. Create a function that can 'iterate' through the individual values and create a new list in which the previous NoData value 0 is set to -999. The structure of the list should be retained.

Note: Use print statements when developing the function to get information about the individual elements of the loop. Think about how you can access nested elements.

In [ ]:
raster = [
    [125, 54, 12],
    [0, 146, 211],
    [198, 137, 0],
]

In [ ]:
#Your code

def replace_nodata (input_list, old_nodata, new_nodata):
    new_raster = [] #This will store the new list

    #create a loop that will go through the input list and hold each nested list under i
    for i in raster:
        new_row = [] #This will temporarily store the values of each 'row' (or nested list)

        #create a loop that checks the values in each nested list
        for x in i:
            if x == old_nodata:
                new_row.append(new_nodata)
            else:
                new_row.append(x)

        new_raster.append(new_row) #After the loop through the values append the new row to the new_raster list
    return new_raster

replaced_raster = replace_nodata(raster, 0, -999)
print(replaced_raster)

[[125, 54, 12], [-999, 146, 211], [198, 137, -999]]

***
***

### 📖For interested parties
Even if most of the data in the previous exercises and tasks are fictitious, the lists with their data have to be created somehow.
<br>
If you are interested in how we save ourselves some work and create the lists, take a look at the cells below.
<br>
Nevertheless, we have kept the code simple so that it is easy to understand.
<br>
There are much more efficient ways to create the data ;)

In [ ]:
#Create a nested list with min, max and mean temperatures

import random #This imports a package that can create random numbers

temps = [19.5, 18.0, 23.0, 22.0 , 21.0, 19.5, 21.5, 20.0, 22.0, 20.5] #We will use those values to do some calculations

new_temp = []

for i in temps:
    minimum = i - round(random.uniform(0, 6),1) #subtract a random float number between 0 and 6 from the current element and round it to the first digit
    maximum = i + round(random.uniform(0, 5),1)
    mean = round((minimum+maximum)/2, 1)
    new_temp.append([minimum, maximum, mean])
print(new_temp)

[[16.4, 23.4, 19.9], [17.1, 23.0, 20.1], [21.7, 24.8, 23.2], [18.1, 26.5, 22.3], [16.3, 22.8, 19.6], [14.5, 19.8, 17.1], [18.8, 24.4, 21.6], [17.7, 23.4, 20.5], [16.8, 27.0, 21.9], [19.4, 20.6, 20.0]]

In [ ]:
#Create a List with specific length and randomly chosen tree species.

trees = ['Picea abies', 'Larix decidua', 'Betula pendula', 'Fagus sylvatica', 'Quercus robur', 'Aesculus hippocastanum']
new_list = []
for i in range (50):
    new_list.append(random.choice(trees))
print(new_list)

In [ ]:
#Create some random integers (values should be between )
import numpy as np
meter = list(np.random.randint(1, 3000, 25))
print(meter)