### ‚úèÔ∏èTask 1
The thermometer of a measuring station has a systematic error of +4.20 ¬∞C due to a technical defect.  
This should now be removed from all values in the measurement series for evaluation.
<br>
Use a **for loop** to subtract the measurement error from the values and save the corrected results in a new table.

In [ ]:
temps = [19.5, 18.0, 23.0, 26.5, 25.0, 19.5, 21.5, 20.0, 22.0, 23.5, 25.5, 24.0, 22.0, 21.5, 23.5, 21.5, 19.0]

In [ ]:
#Your code

***
### ‚úèÔ∏èTask 2
The following list shows the minimum, maximum and average temperature (in this order) for each measurement time.
<br>
A new list is to be created in which only the average temperature is available.

In [ ]:
temps = [[16.4, 23.4, 19.9], [17.1, 23.0, 20.1], [21.7, 24.8, 23.2], [18.1, 26.5, 22.3], [16.3, 22.8, 19.6], [14.5, 19.8, 17.1], [18.8, 24.4, 21.6], [17.7, 23.4, 20.5], [16.8, 27.0, 21.9], [19.4, 20.6, 20.0]]

In [ ]:
# Your code

***
### ‚úèÔ∏èTask 3
The prepared list contains the daily 7-day corona incidence between 12.06.2022 and 11.08.2022.
<br>
A **for loop** is to be used to determine the number of days in which the incidences were above and below 500.
<br>
To do this, create two 'counters' that specify the respective number of days and print the results with a meaningful f-string.
<br>
[Quelle RKI](https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Daten/Klinische_Aspekte.html)

In [ ]:
inzidence = [461.0, 473.6, 565.4, 604.3, 607.3, 547.1, 555.2, 566.9, 569.8, 602.4, 645.1, 696.7, 802.4, 835.4, 845.9, 845.5, 848.5, 853.9, 852.9, 847.5, 847.5, 834.5, 834.9, 811.3, 788.3, 771.9, 751.7, 727.0, 723.8, 718.7, 722.6, 716.7, 707.9, 700.8, 699.9, 693.3, 691.7, 681.4, 659.9, 630.7, 611.7, 593.3, 592.2, 592.9, 576.2, 563.8, 548.1, 528.0, 509.7, 501.7, 497.8, 488.7, 476.9, 465.3, 463.2, 454.5, 453.7, 450.2, 440.6, 423.0, 394.1]

In [ ]:
#Your code

***
### ‚úèÔ∏èTask 4
Given is a list with the Latin names of tree species from a tree inventory.
<br>
1. Create a new list in which each tree species is listed only once in order to determine the number of different tree species (Not all of the methods required for this have been taught in the accompanying notebook. However, as in real life, you can find all the answers on the Internet. First try to find an approach on your own, otherwise here are two links that will help you: [Add to list if not already in list](https://stackoverflow.com/questions/42334197/add-only-unique-values-to-a-list-in-python), [Get length of list](https://www.edureka.co/blog/python-list-length/))
2. Create a **for loop** (based on your list from subtask 1) which gives the tree species as print output and how often it was found during the inventory (Again, the internet will help you to use a more efficient method than the 'counter' you have learned so far. If you cannot find an approach, have a look at [here](https://www.codegrepper.com/code-examples/python/python+count+number+of+elements+in+list+equal+to))

In [ ]:
trees = ['Fagus sylvatica', 'Quercus robur', 'Fagus sylvatica', 'Larix decidua', 'Quercus robur', 'Quercus robur', 'Aesculus hippocastanum', 'Larix decidua', 'Larix decidua', 'Picea abies', 'Fagus sylvatica', 'Betula pendula', 'Larix decidua', 'Betula pendula', 'Fagus sylvatica', 'Betula pendula', 'Picea abies', 'Aesculus hippocastanum', 'Fagus sylvatica', 'Quercus robur', 'Larix decidua', 'Fagus sylvatica', 'Betula pendula', 'Fagus sylvatica', 'Picea abies', 'Quercus robur', 'Larix decidua', 'Betula pendula', 'Betula pendula', 'Fagus sylvatica', 'Aesculus hippocastanum', 'Larix decidua', 'Picea abies', 'Betula pendula', 'Fagus sylvatica', 'Fagus sylvatica', 'Betula pendula', 'Aesculus hippocastanum', 'Quercus robur', 'Quercus robur', 'Quercus robur', 'Fagus sylvatica', 'Aesculus hippocastanum', 'Picea abies', 'Larix decidua', 'Picea abies', 'Larix decidua', 'Aesculus hippocastanum', 'Picea abies', 'Picea abies']

In [ ]:
# Your code

***
### ‚úèÔ∏èTask 5
Create a function that subtracts an individually definable value from the data series provided. It should be possible to pass the following parameters to the function:
1. list as data input
2. value to be subtracted

Your function should be able to print the newly calculated value.
Test your function by subtracting the value 8.4.

In [ ]:
values = [19.5, 18.0, 23.0, 26.5, 25.0, 19.5, 21.5, 20.0, 22.0, 23.5]

In [ ]:
#Your code

***
### ‚úèÔ∏èTask 6
Write a function that is able to convert between the units meters and feet. It should be possible to enter lists into the function and convert them into the other unit.
<br>
Find a way to round the conversion results.

In [ ]:
meter = [2222, 1594, 256, 1855, 2087, 6, 1611, 171, 842, 699, 957, 729, 214, 2133, 2083, 1602, 1136, 2052, 446, 1921, 2264, 46, 1697, 137, 1514]
feet = [7290.0, 5229.7, 839.9, 6086.0, 6847.1, 19.7, 5285.4, 561.0, 2762.5, 2293.3, 3139.8, 2391.7, 702.1, 6998.0, 6834.0, 5255.9, 3727.0, 6732.3, 1463.3, 6302.5, 7427.8, 150.9, 5567.6, 449.5, 4967.2]

In [ ]:
#Your code

***
### ‚úèÔ∏èTask 7
In some scientific data there are so-called 'NoData Values', i.e. values that are used for measurements for which there was no measurement result. Such NoData Values are often found in raster data that is opened in geoinformation systems (e.g. outlines of oblique satellite images).
<br>
In geoinformation systems, the NoData values can be set (e.g. to 0 or -999) so that the raster dataset is displayed correctly.
<br>
In Python, changing the NoData values is a little more difficult.
<br>
The following list is intended to mimic a raster data set which has a size of 3x3 pixels. Each of the lists in the list should represent a series of pixel values of a gray value image.
<br>
In reality, raster data in Python is not displayed directly as lists (we will come to that later). For now, however, let's assume that this is the case.
<br>
1. Create a function that can 'iterate' through the individual values and create a new list in which the previous NoData value 0 is set to -999. The structure of the list should be retained.

Note: Use print statements when developing the function to get information about the individual elements of the loop. Think about how you can access nested elements.

In [ ]:
raster = [
    [125, 54, 12],
    [0, 146, 211],
    [198, 137, 0],
]

In [ ]:
#Your code

***
***

### üìñFor interested parties
Even if most of the data in the previous exercises and tasks are fictitious, the lists with their data have to be created somehow.
<br>
If you are interested in how we save ourselves some work and create the lists, take a look at the cells below.
<br>
Nevertheless, we have kept the code simple so that it is easy to understand.
<br>
There are much more efficient ways to create the data ;)

In [ ]:
#Create a nested list with min, max and mean temperatures

import random #This imports a package that can create random numbers

temps = [19.5, 18.0, 23.0, 22.0 , 21.0, 19.5, 21.5, 20.0, 22.0, 20.5] #We will use those values to do some calculations

new_temp = []

for i in temps:
    minimum = i - round(random.uniform(0, 6),1) #subtract a random float number between 0 and 6 from the current element and round it to the first digit
    maximum = i + round(random.uniform(0, 5),1)
    mean = round((minimum+maximum)/2, 1)
    new_temp.append([minimum, maximum, mean])
print(new_temp)

In [ ]:
#Create a List with specific length and randomly chosen tree species.

trees = ['Picea abies', 'Larix decidua', 'Betula pendula', 'Fagus sylvatica', 'Quercus robur', 'Aesculus hippocastanum']
new_list = []
for i in range (50):
    new_list.append(random.choice(trees))
print(new_list)

In [ ]:
#Create some random integers (values should be between 1 and 3000 and 25 random values should be created)
import numpy as np
meter = list(np.random.randint(1, 3000, 25))
print(meter)