<div class="alert alert-info">

### ðŸ“–Change data type <a class="anchor" id="chapter1"></a>
As described in the last notebook, there are various data types (str, int, float etc.). The type can be adjusted between some data types. This is necessary, for example, if user input is entered in an 'incorrect' format.
<br>
Here is an example:
<br>
The following cell contains a small program that calculates the year of birth based on the age provided by the user.
<br>
Execute the following cell. An input field will appear in which you can enter your age. Confirm your entry by pressing 'Enter'.
<br>
The input field is created by 'input()'. It is important that you understand that the user input is stored in the variable 'user_input'. This variable can therefore be used later to access the entered value.

In [ ]:
print('Please set your age:')
user_input = input() #creates a field for user-input

year_of_birth  = 2022 - user_input #subtracts the provided age from the year 2022
print('You were born in: ', year_of_birth)

<div class="alert alert-info">
    
You receive an error message that no calculations can be made between the data types int (the year 2022) and str (the user input).
<br>
The problem is that the input field only returns text (i.e. strings) to the script. Although we write a number in the field, Python understands it as text.
<br>
So we have to convert the text (which contains our age) into the data type *int*.
<br>
To convert *str* to *int*:
- int(my_text)

For converting *str* or an *int* into a *float*:
- float(my_text_or_int)

For converting an *int* or a *float* into a *str*
- str(my_int_or_float)
<br>

Converting *float* to *int* with the above command (int(my_float)) is not recommended, as this function is not able to round correctly. There are better methods that we will not discuss here (but Google knows everything ;) )
    
We will now incorporate the knowledge we have just acquired into our little program.
<br>
We use the function int(my_string) to create an *int* from the string specified by the user. We can then use this to perform calculations.

In [ ]:
print('Please set your age:')
user_input = input() #creates a field for user-input

year_of_birth  = 2022 - int(user_input) #turn the input string to an int and subtract from year
print('You were born in: ', year_of_birth)

<div class="alert alert-info">
The conversion from one data type to another also works with the other functions mentioned.
<br> In the last notebook, you learned how to query the data type to ensure that the data type adjustment was successful.

In [ ]:
turned_to_str = str(10)
print(turned_to_str)
turned_to_float = float('7.8')
print(turned_to_float)

In [ ]:
#Turn this number into a string and print its datatype:
a = 18.4

<div class="alert alert-success">   
    
### ðŸ“–f-strings <a class="anchor" id="chapter2"></a>

For the naming of files or for meaningful print statements, it is often necessary for different data types to be written together in one text.
<br>The problem was explained above.
<br>There are many ways to solve this 'problem'.
<br>While we can simply string strings together with a '+', this does not work with different data types

In [ ]:
a = 'Hello ' #The space at the end is needed to have a space between the words after putting them together
b = 'World'
c = a+b
print(c)

In [ ]:
a = 'We have the year '
b = 2022
c = a + b
print(c)
#This will throw an error

<div class="alert alert-success">
In principle, we can use the knowledge we have learned above to turn the number into a string:

In [ ]:
a = 'We have the year '
b = 2022
c = a + str(b)
print(c)

<div class="alert alert-success">
In principle, it would be possible to combine strings and integers in a print using a comma

In [ ]:
a = 'We have the year '
b = 2022
print(a, b)

We have the year  2022

<div class="alert alert-success">
    
A much more efficient way to create a string containing numbers is to use **f-strings**.
<br>
We simply write an 'f' in front of the quotation marks of the string and set all variables with a different data type to '{ }':

In [ ]:
population = 364628
area = 145.4
my_f_string = f"Living in Bochum {population} Inhabitants on an area of {area} kmÂ²"
print(my_f_string)

<div class="alert alert-warning">
    
### ðŸ“–For Loops <a class="anchor" id="chapter3"></a>
Loops are an important part of programming. The For Loop is probably the most important loop and is used for most applications. Other loop types are the While Loop and the Nested Loop (not covered here).
<br>
A typical For Loop is structured as follows:

- **for** i **in** object:
    - *Code that should be executed in every loop*
  
    
The **for** in the **in** are fixed expressions. The *i* represents the element that is drawn from the *object* in each repetition. The *i* therefore has a new value each time it is run. The letter *i* is chosen more or less arbitrarily in this case. You could also use any other letter. The *object* is the object to be 'iterated over'. It can be strings, lists or ranges.

[If you would like to see a short video explaining the topic of 'For Loops', click here](https://youtu.be/zqqd_pJpZO4)

</div>

In [ ]:
for i in 'RUB':
    print(i)

In [ ]:
my_list = ['Geomorphology', 'Biogeography', 'Pedology', 'Geomatics']

for i in my_list:
    print(i)

<div class="alert alert-warning">
Calculations can also be made within the loops

In [ ]:
ages = [19, 23, 28, 31, 24, 38]
for i in ages:
    year_of_birth = 2022 - i #Do some calculation
    print(f"Born in {year_of_birth}") #Use a f-string to print the result